#btn-div{
    background-color: rgb(70, 20, 189);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

#btn-div button{
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#display{
    display: block;
}

#display div{
    margin: 10px;
    padding: 5px;
}

.card{
    display: inline-block;
}

.card ul{
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px;
    list-style: none;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 2px black;
    font-weight: bolder;
}

.card ul li:nth-child(2){
    color: blue;
}

.card ul li:nth-child(3){
    color: rgb(255, 0, 43);
}

.card ul li:nth-child(4){
    color: blue;
}

.card ul li:nth-child(2):hover, .card ul li:nth-child(3):hover, .card ul li:nth-child(4):hover{
   text-decoration: underline;
   cursor: pointer;
}

.todo-list{
    display: inline-block;
}